package main

templ homePage() {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>{ s.BaseDomain }</title>
		</head>
		<body class="min-h-screen bg-gradient-to-br from-sky-900 to-sky-800 text-sky-100">
			oracolo: a personal webpage
		</body>
	</html>
}
